---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!-- TBD:: Header -->
    <!-- <Header title={SITE_TITLE} /> -->

    <main class={"container"}>
      <section class={"greeting"}>
        <h1>Welcome to ScrollyTell.ing !</h1>
        <h4 class="status">This website is under construction</h4>
        <p>
          Explore captivating stories and interactive content as you scroll
          through our site.
        </p>
        <p>
          Whether you're here for information, entertainment, or inspiration,
          we've got something for everyone.
        </p>
        <p>Start scrolling and enjoy the journey!</p>
      </section>
    </main>

    <!-- TBD:: Footer -->
    <!-- <Footer /> -->

    <style>
      .container {
        widows: 100vw;
        height: 100vh;
      }
      .greeting {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-flow: column nowrap;
      }
      .status {
        color: var(--gray-light);
      }
    </style>
  </body>
</html>
